.comment{
    padding-bottom: 1vh;
    color: var(--words);
    background-color: var(--background);
    /* background-color: var(--red); */
}
.created_on{
    font-size: 14px;
    font-style:italic;
    font-weight: bold;
}