/* #D5E2F2  #e7ecf8  #B4C4D9 #8FA4BF */
.container_dashboard_provider{
    display: grid;
    grid-template-columns: 18% 83%;
    margin: 0.5%;
    height: auto;
}
.ChartComponent{
    width: 80%;
    margin-left: 6%;
    margin-top: 7%;
}
.ChartComponent1{
    width: 100%;
    text-align: center;
    margin-left: 15%;
    height: 40vh;
    /* color: #e4e4e4; */
}
.display-flex{
    display: flex;
}
.menu{
    background: linear-gradient(to right, #2c3e55, #385075,#4e6384);
    border-radius: 1px;
    margin-left: -2%;
    margin-top: -2%;
}
.body_container{
    /* background-color: #e7ecf8; */
    margin: 0.5%;
    margin-top: 0;
    border-radius: 40px;
    
}



.order_info__cotainer_div{
    display: flex;
    
}
.card_order_info{
    margin: 3%;
    width: 30%;
    height: 20vh;
    /* background-color: rgb(197, 229, 240); DCEBFC*/
    background-color: #DCEBFC; 
    border-radius: 35px;
    padding: 1%;
}
.card_order_info:hover {
    transform: rotateY(10deg);
}
.go_to{
    /* background-color: #2c3e55;
     */
    background-color: transparent;
    border: none;

    width: 80%;
    border-radius: 20px;
    border: none;
    font-size: 14px;
    color: white;
    margin: 3%;
    margin-left: -5%;
    /* text-align: left; */
}
/* rgp(44,62,85) */
h5{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 18px;
}
.number-order{
    font-size: 30px;
    margin-top: 8%;
    /* text-align: left;
    margin-left: 10%; */
}
.light-red{
    background-color: rgb(211, 211, 255);
}
.light-green{
    background-color: #c3e6e1;
}
.light-blue{
    background-color: rgb(251, 175, 175);
}
.ChartComponent-div{
    height: 60vh;
}
.hr2{
    
    border: none;
    border-top: 2px solid gray;
    height: 1px;
    /* margin: 20px 0; */
    width: 95%;
    margin-left: 2.5%;
}
.h2{
    text-align: left;
    margin-left: 27%;
}
.ul-menu{
    margin-top: 4%;
    margin-bottom: 0%;
    color: white;
    text-align: left;
    margin-left: -5%;
    font-size: 13px;
    font-weight: bold;
    
}
li {
    list-style-type: none;
  }