.navbar {
  /* display: flex; */
  padding: 1px;
  padding-left: 6px;
  background-color: var(--background);
  color: var(--words);
  border-radius: 10px;
}
 .search{
  padding: 0;
 }
 .btnsearch{
  background-color: blue;
  color: whitesmoke;
 padding: 0;

 }
 NavDropdown{
  background-color: red;
 }