.shadow-0{
    filter: brightness(110%);
    color: #223d66;
    font-size: 30px;
    font-family: Tahoma cursive;
    font-weight: bold;
    background-color: #c6c6c6;
    width: 33vw;
}
.all-orders-div{
    width: 100%;
    margin-left: 14%;
}
