.shadow-0{
    filter: brightness(110%);
    background-image: linear-gradient(to right , #223d66, #5577aa, #4e5d74);
    color: #223d66;
    font-size: 30px;
    font-family: Tahoma cursive;
    font-weight: bold;
}
.cardOrderBody{
    margin: 5px;
    box-shadow: 0 2px 10px #2c6ec6;
    /* box-shadow: 0 10px 25px #223d66; */
}
.cardOrderheader{
    margin:2vh;
}