body{
    text-align: center;
   
    font-family: Roboto, Helvetica, Arial, sans-serif;
    
    
}
.lightMood{
    --words:blue ;
    --background:white ;
}

.darkMood{
    --words:pink ;
    --background:black ;
}